@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none !important;
}

@theme {
  --breakpoint-xs: 475px;

  --text-xxs: 0.625rem; /* 10px */

  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';

  --font-organetto: 'Organetto', serif;
  --font-castle: 'Castle', serif;
  --font-inter: 'Inter', sans-serif;

  --color-brand: #1e40af;
  --color-brand-light: #3b82f6;
  --color-brand-dark: #1e3a8a;
  --color-accent-green: #10b981;
  --color-accent-red: #ef4444;
  --color-accent-yellow: #f59e0b;
  --color-accent-yellow-darker: #d97706;
  --color-accent-blue: #3b82f6;
  --color-accent-black_2: #2C2C2C;
  --color-accent-black_2_ligher: #4d4d4d;

  --color-brand-primary: #07092F;
}

@font-face {
  font-family: 'Organetto';
  src: url('../fonts/Organetto/Fontspring-DEMO-organetto-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Castle';
  src: url('../fonts/Castle/CastleTOT-Boo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter_24pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

