@import 'tailwindcss';
@import 'tailwindcss/preflight';

@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand: #1e40af;
    --color-brand-light: #3b82f6;
    --color-brand-dark: #1e3a8a;
    --color-accent-green: #10b981;
    --color-accent-red: #ef4444;
    --color-accent-yellow: #f59e0b;
    --color-accent-blue: #3b82f6;

    --font-organetto: 'Organetto', serif;
}

@font-face {
  font-family: 'Organetto';
  src: url('../fonts/Organetto/Fontspring-DEMO-organetto-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
